html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #cbcccc;
}

$height-nav: 8rem;

.header-inner-nav {
  height: $height-nav;
  background-color: #020202;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 1000;
}

.nav-slide-down {
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.4s linear;
}

.header-inner {
  // position: fixed;
  // top: 0rem;
  // left: 0;
  // right: 0;
  // z-index: 1000;
  transition: all 0.4s linear;
}

.header__nav {
  .col {
    display: flex;
    justify-content: space-between;
  }

  &-icon {
    i {
      font-size: 2rem;
      color: #fff;
      line-height: $height-nav;
      cursor: pointer;
      padding: 0 1.5rem;
    }
  }

  &-icon-close {
    display: none;
  }

  &-login {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: $height-nav;
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-logo img {
    height: $height-nav;
  }
  &-list {
    display: flex;
    flex-direction: row;
    line-height: $height-nav;
    &-search {
      position: relative;
      &:hover .box-search {
        display: block;
      }
      .box-search {
        position: absolute;
        display: none;
        height: 10rem;
        width: 25rem;
        background-color: #fff;
        border: 1px solid #ccc;
        top: 85%;
        z-index: 2;
        .group-search {
          padding-left: 3rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          // transform: translate(-50%, -50%);
          // display: inline-block;
          &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #fff;
            z-index: 2;
            transform: rotate(45deg);
            border-radius: 3px;
            left: 2rem;
            top: -1.8rem;
          }
          input {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // // display: none;
            padding: 5px 10px;
            outline: none;
          }
          i {
            padding: 1rem;
            font-size: 1rem;
            background-color: #cb231f;
            color: #fff;

            margin-left: -3px;
            border-radius: 0 3px 3px 0;
            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }
      }
      // input {
      //   position: absolute;
      //   top: 50%;
      //   transform: translateY(-60%);
      //   left: -160px;
      //   display: none;
      //   padding: 5px 10px;
      //   outline: none;
      // }
    }
    &-search > i {
      color: #cbcccc;
      padding: 1.6rem;
      font-size: 1.5rem;
      border-right: 1px solid #1c1c1c;
      line-height: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    &-cart {
      padding: 0 1.5rem;
      &-info {
        font-size: 1.3rem;
        text-transform: uppercase;
        &-para {
          text-transform: lowercase;
          border-bottom: 1px solid #cbcccc;
        }
      }
      &-amount {
        width: 2rem;
        height: 2rem;
        padding: 0.4rem 0.8rem;
        font-size: 1.3rem;
        margin-left: 1rem;
        position: relative;
        background-color: #020202;
        border: 2px solid #fff;
        &::after {
          content: "";
          height: 1rem;
          width: 1rem;
          border-color: #fff;
          border-style: solid;
          transform: rotate(45deg);
          border-width: 2px 0px 0px 2px;
          position: absolute;
          border-radius: 100rem;
          left: 27%;
          top: -38%;
        }
      }
    }
  }
}

.header-inner-menu {
  height: 5.3rem;
  background-color: #dcdcdc;
  // position: fixed;
  // top: $height-nav;
  // left: 0;
  // right: 0;
  // z-index: 2;
}

.header__menu {
  max-height: 5.3rem;
  .col {
    display: flex;
  }
  &-list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &-items > a {
      color: #000;
      line-height: 5rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom: 3px solid #c30106;
      }
    }
    &-items {
      &:hover &-level {
        display: block;
      }
      i {
        font-size: 1rem;
      }
      &-level {
        display: none;
        position: absolute;
        border: 2px solid #ccc;
        border-radius: 0.5rem;
        background-color: #fff;
        z-index: 2;
        &-items {
          &:hover {
            border: none;
            background-color: #f7f7f7;
            cursor: pointer;
          }
          &:hover a {
            color: #cb231f;
          }
          a {
            line-height: 5rem;
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: capitalize;
            padding: 0 10rem 0 2rem;
            color: #7d7d7c;
          }
        }
      }
    }
  }
}

.header__banner {
  margin: 3rem auto 0;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  &-list {
    display: flex;
    transition: all 0.5s linear;
    .item {
      img {
        border-radius: 1rem;
        height: 50rem;
        object-fit: cover;
      }
    }
  }
  .header__banner-btnRight {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    padding: 2rem 1rem;
  }
  .header__banner-btnLeft {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    padding: 2rem 1rem;
  }

  .header__banner-btnLeft:hover,
  .header__banner-btnRight:hover {
    cursor: pointer;
    opacity: 1;
    padding: 2rem 1rem;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.content {
  .spNoiBat {
    margin-top: 5rem;
    .product {
      position: relative;
      border: 1px solid #fff;
      margin-bottom: 2rem;
      &:hover {
        border: 1px solid #000;
      }
      &:hover .btn {
        font-size: 1.6rem;
        background-color: #000;
      }
      &__logo {
        img {
          display: block;
          margin: 0 auto;
          max-width: 10rem;
        }
      }
      &__image {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

.btn {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0%;
  transition: all 0.25s linear;
}
.btn:hover {
  cursor: pointer;
}

.btn-add {
  margin: 1rem auto;
  padding: 1rem 2rem;
  display: block;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0;
  color: #fff;
  font-weight: 500;
  transition: all 0.25s linear;
}

.btn-add:hover {
  cursor: pointer;
}

.newProduct {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 6rem;
  min-height: 40rem;
  &__word {
    text-align: center;
    p {
      text-transform: uppercase;
      display: inline-block;
      font-size: 1.6rem;
      padding: 1.5rem 2.5rem;
      // background-color: #000;
      color: #7d7d7d;
      transition: all 0.2s linear;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
    .select {
      background-color: #000;
      color: #fff;
    }
  }
  &__line {
    border-bottom: 1px solid #000;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
  }
  &__elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 20rem;
    .element {
      height: 30rem;
      img {
        max-width: 27rem;
        display: block;
        margin: 0 auto;
      }
      &__para,
      &__para-money {
        font-size: 1.5rem;
        color: #324861;
        display: block;
        text-align: center;
        line-height: 3rem;
        span {
          border-bottom: 2px solid #c30106;
        }
      }
      &__para-money {
        color: #c30106;
        font-weight: 500;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover .btn-add {
        color: #fff;
        background-color: #c30106;
        font-size: 1.2rem;
      }
    }
  }
}

.other {
  margin-top: 7rem;
  &__title {
    text-transform: uppercase;
    color: #1c1c1c;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
  }
  &__line {
    border-bottom: 1px solid #000;
    margin: 1.5rem 0 4rem 0;
  }
  &__list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
      min-height: 33rem;
      img {
        max-width: 27rem;
        display: block;
        margin: 0 auto;
      }
      &__para,
      &__para-money {
        line-height: 3rem;
        display: block;
        text-align: center;
        font-size: 1.4rem;
        color: #324762;
        font-weight: 400;
      }
      &__para-money {
        color: #c30106;
        font-weight: 500;
        // margin-bottom: 3rem;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover .btn-add {
        color: #fff;
        background-color: #c30106;
        font-size: 1.2rem;
      }
    }
  }
  .btnViewAll {
    margin: 0 auto;
    display: block;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    font-weight: 700;
    color: #7d7d7d;
    background-color: #fff;
    border: 1px solid #7d7d7d;
    position: relative;
    transition: all 0.25s linear;
    &:hover {
      cursor: pointer;
      background-color: #000;
      color: #fff;
    }
  }
}

.sale50 {
  margin-top: 5rem;
  position: relative;
  &__image {
    img {
      object-fit: cover;
    }
  }
  &__info {
    .opacity {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
    }
    &-frame {
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      p {
        font-size: 1.6rem;
        letter-spacing: 0.5rem;
        margin-bottom: 2rem;
        font-weight: 500;
        display: block;
        text-align: center;
      }
      h2 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 7rem;
        span {
          color: #ffff00;
        }
      }
      button {
        display: block;
        margin: 0 auto;
        color: #fff;
        border: 1px solid #fff;
        font-size: 1.6rem;
        background-color: transparent;
        padding: 1rem 2rem;
        transition: all 0.25s ease;
        &:hover {
          border: 1px solid #000;
          background-color: #000;
          cursor: pointer;
        }
      }
    }
  }
}

.productDiscounts {
  max-width: 120rem;
  margin: 8rem auto 0;
  &__para {
    p {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
      color: #1c1c1c;
      display: block;
      text-align: center;
    }
  }
  &__line {
    border-bottom: 1px solid #1c1c1c;
    margin: 1.5rem 0 5rem;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
      position: relative;
      min-height: 35rem;
      img {
        max-width: 27rem;
        display: block;
        margin: 0 auto;
      }
      &::before {
        position: absolute;
        content: "-40%";
        border-radius: 50%;
        padding: 1.6rem 0.7rem;
        background-color: #c30106;
        z-index: 1;
        // top: 0;
        // left: 0;
        // transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
      }
      &__para,
      &__price--before,
      &__price--after {
        color: #324862;
        font-size: 1.4rem;
        text-align: center;
        line-height: 3rem;
      }
      &__price--before {
        display: inline;
        margin: 0 1rem 0 5rem;
        color: #de7772;
        position: relative;
        &::before {
          content: "";
          height: 0.1rem;
          width: 7.5rem;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 3;
        }
      }
      &__price--after {
        display: inline;
        font-weight: 500;
        color: #c30106;
      }
      button {
        display: block;
        margin: 3rem auto 0;
        color: #fff;
        font-size: 0;
        text-transform: uppercase;
        font-weight: 500;
        border: none;
        padding: 1rem 2rem;
        transition: all 0.25s ease;
        background-color: transparent;
      }
      &:hover button {
        font-size: 1.2rem;
        background-color: #c30106;
        cursor: pointer;
      }
    }
  }
}

.footer {
  background-color: #171717;
}

.footer__main {
  color: #fff;
  margin-top: 3rem;
  &-top {
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      font-size: 1.4rem;
      color: #a4a4a4;
      line-height: 2rem;
      i {
        height: 100%;
        font-size: 1.6rem;
        color: #fff;
        margin: 1rem 1rem 0 0;
      }
    }
    .info,
    .address,
    .menu,
    .socialNetwork {
      margin-top: 10rem;
    }

    .address {
      .div {
        display: flex;
        i {
          width: 3rem;
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
      }
    }
    .menu {
      ul {
        li {
          a {
            color: #a4a4a4;
            font-size: 1.4rem;
            line-height: 3rem;
          }
        }
      }
    }
    // .address {
    //   .icon {
    //     display: block;
    //     font-size: 2rem;
    //     line-height: 3rem;
    //   }

    //   .strong {
    //     p {
    //       line-height: 2rem;
    //       font-size: 1.4rem;
    //     }
    //   }
    // }
    .socialNetwork {
      &__box {
        margin-left: -1rem;
        i {
          font-size: 3rem;
          color: #fff;
          padding-left: 1rem;
        }
      }
    }
  }
  &-line {
    max-width: 120rem;
    margin: 3rem auto 3rem;
    border-bottom: 1px solid #fff;
  }
  &-bottom {
    margin: 2rem auto;
    display: flex;
    .para {
    }
    .email {
      input {
        width: 27rem;
        font-size: 1.6rem;
        padding: 1rem;
        margin-bottom: 2rem;
        outline: none;
      }
      button {
        padding: 1.3rem 2rem;
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-left: -0.4rem;
        background-color: #c30106;
        color: #fff;
        border-radius: 2px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .pay {
      .fa-cc-paypal {
        font-size: 5rem;
        color: #2a97d8;
        margin-right: 2rem;
      }
      .fa-cc-visa {
        font-size: 5rem;
        color: #0058a0;
        margin-right: 2rem;
      }
      .fa-cc-mastercard {
        font-size: 5rem;
        color: #ff9a00;
      }
    }
  }
}

.footer__extra {
  background-color: #000;
  &-para {
    max-width: 120rem;
    margin: 0 auto;
    color: #a4a4a4;
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.info__line {
  height: 0.3rem;
  width: 3.5rem;
  background-color: #c30106;
  display: block;
  margin-bottom: 2rem;
}

.header__info-image {
  position: relative;
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://mir-s3-cdn-cf.behance.net/66f6e9b5132bd3b0b2b6a445561974fe/669e0fda-c581-458a-a20a-cd432fee066a_rwc_-3x246x2560x449x2560.jpg?h=a7d9a26dcd2ce70bb39f6fe8953dd2fd");
  .opacity {
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    h2 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 2rem;
      padding-left: 2rem;
    }
    a {
      color: #fff;
      padding-right: 2rem;
      font-size: 1.6rem;
      font-weight: 300;
    }
    p {
      display: inline;
      font-size: 1.6rem;
      font-weight: 500;
      position: relative;
      &::before {
        content: "";
        width: 1px;
        height: 1.5rem;
        position: absolute;
        left: -15%;
        transform: rotate(30deg);
        background-color: #ccc;
      }
    }
  }
}

.header__info-content {
  margin-top: 6rem !important;
  img {
    object-fit: cover;
  }
  .info {
    h2 {
      font-size: 2.7rem;
      font-weight: 500;
      text-transform: uppercase;
      padding-bottom: 2rem;
    }
    p {
      font-size: 1.6rem;
      color: #353535;
      line-height: 2.5rem;
    }
    &__best {
      margin-top: 3rem;
      h2 {
        font-size: 2rem;
      }
      &-frame {
        .line {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .line1 {
            width: 1px;
            height: 15rem;
            background-color: #c30106;
          }
          .line2 {
            width: 0.3rem;
            height: 15rem;
            background-color: #c30106;
            margin-left: 2px;
          }
          .line3 {
            width: 1px;
            height: 15rem;
            background-color: #c30106;
            margin-left: 2px;
          }
        }
      }
    }
  }
}

.header__info-footer {
  margin-top: 6rem !important;
  .col {
    padding-left: 2rem;
  }
  .block {
    display: flex;
    margin-bottom: 3rem;
    i {
      font-size: 4rem;
      color: #c30106;
    }
    &__para {
      line-height: 2.5rem;
      margin-left: 2rem;
      h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #1c1c1c;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.6rem;
        color: #353535;
      }
    }
  }
}

.header__menu-female {
  .ontop {
    margin: 5rem auto 2rem;
    &__left {
      font-size: 2rem;
      text-transform: uppercase;
      a {
        color: #949494;
        font-weight: 300;
        // display: block;
        position: relative;
        &::after {
          content: "";
          width: 1px;
          height: 2rem;
          right: -18%;
          transform: rotate(30deg);
          position: absolute;
          background-color: #949494;
        }
      }
      p {
        display: inline;
        font-weight: 500;
        margin-left: 3rem;
      }
    }

    &__mid {
      i {
        padding: 1rem;
        font-size: 1.5rem;
      }
      p {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    &__right {
      font-size: 1.6rem;
      p {
        color: #353535;
        margin-right: 2rem;
      }
      select {
        padding: 1rem;
        outline: none;
        font-size: 1.6rem;
        color: #353535;
        border: 1px solid #ccc;
      }
    }
  }
  .content {
    &__left {
      &-filter {
        margin-bottom: 3.5rem;
        h3 {
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 2rem;
        }
        input {
          width: 100%;
          outline: none;
          opacity: 0.7;
          &:hover {
            cursor: pointer;
          }
        }
        button {
          display: inline-block;
          color: #fff;
          background-color: #656665;
          padding: 1rem 2rem;
          border-radius: 2rem;
          border: none;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 700;
          margin: 1rem 2rem 0 0;
          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            cursor: pointer;
          }
        }
        p {
          display: inline-block;
          font-size: 1.3rem;
          color: #000;
          font-weight: 500;
        }
        .price-after {
          margin-left: 2rem;
          position: relative;
          &::before {
            content: "";
            width: 1rem;
            height: 1px;
            position: absolute;
            background-color: #000;
            top: 50%;
            left: -28%;
            transform: translateY(-50%);
          }
        }
      }

      &-products,
      &-newPost {
        h3 {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 2.5rem;
        }
        .list {
          background-color: #fcfcfc;
          border: 1px solid #ccc;
          border-radius: 4px;
          .item {
            margin: 1.5rem;
            border-bottom: 1px dashed #ccc;
            padding-bottom: 1rem;
            display: flex;
            &:nth-child(5) {
              border: none;
            }
            img {
              width: 20%;
              display: inline-block;
              &:hover {
                cursor: pointer;
              }
            }
            &__price {
              padding-left: 2rem;
              &--name {
                font-size: 1.4rem;
                font-weight: 400;
                color: #324861;
                margin-bottom: 2.5rem;
              }
              &--money {
                font-size: 1.4rem;
                color: #111;
                font-weight: 500;
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      &-newPost {
        margin-top: 2.5rem;
        .list {
          .item {
            display: flex;
            img {
              border-radius: 100rem;
              width: 20%;
            }
            p {
              padding: 1rem 0 0 2rem;
              color: #444444;
              font-size: 1.3rem;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
    &__right {
      .products {
        .item {
          box-shadow: 0 0 1px 1px #ccc;
          margin-bottom: 2rem;
          transition: all 0.1s linear;
          padding-bottom: 2rem;
          &:hover {
            box-shadow: 0 0 10px 2px #ccc;
          }
          img {
            width: 90%;
            display: block;
            margin: 0 auto;
          }
          &__product {
            color: #334862;
            font-size: 1.4rem;
            text-align: center;
            margin: 1rem 0;
          }
          &__price {
            font-size: 1.4rem;
            font-weight: 500;
            color: #111;
            text-align: center;
            margin: 1.5rem 0;
          }
          button {
            text-transform: uppercase;
            border: none;
            background-color: #c30106;
            color: #fff;
            padding: 1rem 2rem;
            font-size: 1.2rem;
            display: block;
            margin: 0 auto;
          }
          .item__product:hover,
          img:hover,
          button:hover {
            cursor: pointer;
          }
        }
      }

      .page {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        div {
          font-size: 1.6rem;
          font-weight: 500;
          display: inline-block;
          width: 3.5rem;
          height: 3.5rem;
          text-align: center;
          line-height: 3.5rem;
          border: 1px solid #353534;
          border-radius: 50%;
          transition: all 0.2s linear;
          color: #353534;
          margin-left: 0.5rem;
          &:hover {
            cursor: pointer;
            background-color: #c30106;
            color: #fff;
            border: 1px solid #c30106;
          }
        }
        div:first-child {
          background-color: #c30106;
          color: #fff;
          border: 1px solid #c30106;
        }
      }
    }
  }
}

.modal-login {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
  .content {
    width: 85rem;
    height: 60rem;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    display: flex;
    position: relative;
    &__image {
      img {
        max-height: 60rem;
        border-radius: 1rem;
      }
    }
    &__info {
      margin: 10rem 0 0 6rem;
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 3rem;
      }
      .email,
      .password {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: 500;
        &::after {
          content: " *";
          color: #c30106;
        }
      }
      input {
        padding: 1rem;
        width: 30rem;
        outline: none;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1.6rem;
      }
      #checkbox {
        width: fit-content;
        margin: 0;
        display: block;
        &:hover {
          cursor: pointer;
        }
      }
      .showPassword {
        display: inline;
        position: absolute;
        top: 51.5%;
        margin-left: 2rem;
        color: #656665;
        font-weight: 500;
        font-size: 1.2rem;
      }
      .btnLogin {
        margin-top: 1.5rem;
        border: none;
        width: 30rem;
        background-image: linear-gradient(to right, #2d9175, #2ac499);
        color: #fff;
        padding: 1.5rem 0;
        border-radius: 8px;
        font-weight: 700;
        font-size: 1.4rem;
      }
      a {
        display: block;
        text-align: center;
        font-size: 1.4rem;
        color: #2d9175;
        margin-top: 2rem;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .line {
        border-bottom: 1px solid #ccc;
        margin: 3rem 0;
      }
      .addAccount {
        border: none;
        padding: 1.5rem 0;
        width: 20rem;
        display: block;
        margin: 0 auto;
        background-color: #43b82a;
        font-size: 1.6rem;
        color: #fff;
        border-radius: 8px;
      }
      button:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 1.6rem;
        color: #ccc;
      }
    }
  }
}

.content-contact {
  margin: 7rem auto 5rem;
  .ontop {
    .content__contact-info {
      margin-bottom: 3rem;
      .address {
        font-size: 1.6rem;
        color: #454545;
        font-weight: 300;
        h2 {
          color: #c30106;
        }
        p {
          margin-bottom: 2rem;
          i {
            margin-right: 2rem;
            font-size: 2rem;
          }
        }
      }

      .socialNetwork {
        a {
          color: #111;
          font-size: 3rem;
          // display: block;
          margin-right: 1rem;
          &:hover {
            opacity: 0.7;
          }
        }
        .fa-facebook {
          color: #3b589d;
        }
        .fa-instagram-square {
          color: #3b6a94;
        }
        .fa-twitter-square {
          color: #2478ba;
        }
        .fa-pinterest-square {
          color: #cb231f;
        }
        .fa-rss-square {
          color: #fc7800;
        }
      }
    }

    .content__sendInfo {
      .row {
        .row {
          padding: 0 0 1rem 1rem;
        }
      }
      input,
      textarea {
        font-size: 1.6rem;
        padding: 1rem;
        outline: none;
        border: 1px solid #ccc;
      }
      textarea {
        height: 20rem;
      }
      button {
        text-transform: uppercase;
        border: none;
        background-color: #c30106;
        margin-left: 1rem;
        color: #fff;
        padding: 1.5rem 5rem;
        display: block;
        font-weight: 500;
        border-radius: 2px;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }

  .map {
    margin-top: 5rem;
  }
}

.mobile-menu {
  position: relative;
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    transition: all 0.25s linear;
  }

  .menu {
    margin-left: -50vw;
    position: fixed;
    width: 50vw;
    top: 8rem;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: #fff;
    transition: all 0.3s linear;

    .on-top {
      .logo {
        img {
          width: 20%;
          display: block;
          margin: 2rem auto 0;
          cursor: pointer;
        }
      }

      .search {
        padding: 3rem 0 2rem 5rem;
        border-bottom: 1px solid #ccc;
        input {
          padding: 0.65rem 1rem;
          font-size: 1.6rem;
          width: 60%;
          outline: none;
          border: 1px solid #ccc;
          border-radius: 5px 0 0 5px;
        }

        i {
          font-size: 1.4rem;
          background-color: #c30106;
          color: #fff;
          padding: 1rem 2rem;
          margin-left: -3px;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
        }
      }
    }

    .content {
      ul {
        li {
          border-bottom: 1px solid #ccc;
          padding: 2rem 0 2rem 5rem;
          a {
            color: #7c7c7c;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: 500;
          }
          &:hover {
            background-color: #eee;
            cursor: pointer;
          }
          &:hover a {
            color: #000;
          }
        }
      }
    }

    .on-bottom {
      padding: 3rem 0 0 5rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 500;
      span {
        padding-left: 2rem;
        cursor: pointer;
      }
    }
  }
}
